* {
    box-sizing: border-box;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-info {

}

.nav-links {
    list-style-type: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {


}

/*@media screen and (min-width:960px) {*/
/*    .nav-links {*/
/*        display: flex;*/
/*       flex-direction: row;*/
/*        !*align-items:*!*/
/*    }*/
/*}*/
